@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
nav{
    width: 100%;
    margin: 15px 0 0 0;
    padding: 5px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur 20px;
    position: sticky;
    top: 0;
}
nav .logo{
    font-size: 25px;
    font-weight: 700;
    color: #9b4b9b;
}
nav .logo img{
    height: 40px;
    width: auto;
    margin-right: 7px;
}
nav .logo,nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    font-weight: 600;
    list-style-type: none;
    margin: 0 10px;
    padding: 5px;
}
nav ul li:hover{
    color: #831f82;
} 
nav .pages li:hover{
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur 20px;
    border-radius: 5px;
}
.homeContainer{
    width: 90%;
    min-height: 550px;
    margin: 30px 0;
    background: url(https://img.freepik.com/premium-photo/small-pink-tulips-bouquet-stands-vase-table_124507-25235.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.intro{
    max-width: 450px;
    min-height: 400px;
    padding: 35px;
    margin-left: -300px;
    margin-top: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.intro h3{
    margin: 10px 0;
    color: #831f82;
}
.intro input{
    border: none;
    outline: none;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: 600;
}
.intro input:hover{
    background-color: #831f82;
}
.about{
    width: 90%;
    min-height: 550px;
    margin: 30px 0;
    background-color: beige;
    background: linear-gradient(to top, #dd9999,#eecccc,#f0d2d2);
}
.about .nav{
    width: 80%;
    padding: 15px;
    margin-left: 10%;
    margin-top: 30px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(221,153,153,0.5);
}
.about .aboutContainer{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.about .aboutContainer .textSection h2{
    margin-bottom: 10px;
}
.about .textSection{
    width: 45%;
}
.about .textSection input{
    border: none;
    outline: none;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: 600;
}